.navbar_buttons {
  position: fixed;
}
.navbar_buttons button {
  /* display: flex;
  justify-content: center; */
  /* align-items: center; */
  margin: 0.5rem;
  padding: 0.5rem;
  width: 7rem;
  height: 2.5rem;
  background-color: #00a86b;
  border: none;
  color: white;
  box-shadow: 3px 3px 3px lightgray;
  border-radius: 20px;
}
.navbar_buttons button:hover {
  box-shadow: none;
  color: black;
}
